{% extends "./base.html" %}
{% load static %}

{% block custom-imports %}
{% endblock %}

{% block title %} Venda {% endblock %}
{% block nav-bar-title %} Venda {% endblock %}

{% block main-content %}
<div class="container-fuild">
    <div class="row justify-content-between mt-6">
        <div class="col-md-7">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Produto</th>
                <th scope="col">Preço Unidade</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
              </tr>
            </thead>
            <tbody>
                {% for item in pr %}
            
              <tr>
                <td><img src="{% static item.Produto.Imagem %}" id="output" class="rounded img-fluid" style="max-width: 7vh; max-height: 7vh"
                    alt="No image available"></td>
                <td>{{ item.Produto.Nome }}</td>
                <td>{{ item.Produto.Preco_Unidade }}</td>
                <td>{{ item.Quantidade }}</td>
                <td>{{ item.total }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-5 pl-3" style="padding-left: 8vh; padding-top: 8vh">
            <div class="border rounded p-4 border-dark" style="max-width: 50vh">
                <h1 style="font-size: 10vh">Total: {{ r.PrecoTotal }}€</h1>
                <br>
                <p class="h6">Endereço de envio:</p>
                <div class="border rounded p-4 border-dark" style="max-width: 40vh"> {{r.EnderecoAlternativo}} </div>
                <div class="mt-2">
                {% if userext.Tipo != 'CL' and not r.Pago %}
                <a href="{% url 'store:pay' r.id %}"><button type="submit" class="btn btn-warning mt-3"><b>Marcar como Pago</b></button></a>
                </form>
                {% elif r.Pago %}
                <p class="text-success"><b>
                Pago
                {% else %}
                <p class="text-warning"><b>
                A aguardar receção de pagamento
                <p class="text"><b>Entidade: 12345<br>Referencia: 123 456 780</p>
                {% endif %}
                </b></p></div>
              </div>
        </div>
    </div>
</div>
{% endblock %}