html {
    font-family: Inter;
    font-size: 16px;
  }
  
  body {
    font-weight: 400;
    font-style:normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
  
  }
  
  .login-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .login-head {
    flex: 1;
    height: 20%;
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: center;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    background-color: #080c65;
  }
  .login-left {
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .login-banneriscte {
    width: 394px;
    height: 86px;
    align-self: center;
    object-fit: cover;
  }
  .login-diam {
    color: #ffffff;
    align-self: center;
  }
  .login-content {
    flex: 6;
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    padding-top: 96px;
    flex-direction: column;
    padding-bottom: 96px;
    justify-content: center;
  }
  .button {
    color: #000000;;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: #000000;;
    border-width: 1px;
    border-radius: 4px;
    background-color: #FFFFFF;;
  }
  .input {
    color: #000000;;
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: #000000;;
    border-width: 1px;
    border-radius: 4px;
    background-color: #FFFFFF;;
  }
  .login-form {
    width: auto;
    height: auto;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .login-form-entry-combo {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .login-username-label {
    margin-bottom: 8px;
  }
  .login-username-input {
    align-self: center;
    text-align: center;
  }
  .login-form-entry-combo1 {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .login-password-label {
    margin-bottom: 8px;
  }
  .login-password-input {
    align-self: center;
    text-align: center;
  }
  .login-entrar {
    color: #FFFFFF;
    transition: 0.3s;
    margin-bottom: 8px;
    background-color: #14A9FF;
  }
  .login-entrar:hover {
    background-color: #080c65;
  }
  .login-conta {
    font-style: normal;
    font-weight: 400;
  }
  


  